<div>
  <%= link_to "Show", route_path(event.object.item.id), class: "btn btn-default" %>
  <button class="btn btn-default" type="button" data-toggle="collapse" href="#create_<%= event.id %>"
                                                                       data-target="#create_<%= event.id %>">
    Details
  </button>
  <div class="collapse" id="create_<%= event.id %>">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% event.changeset.each do |change| %>
          <tr>
            <td>
              <%= change.first %>
            </td>
            <td>
              <%= change.last.last %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
