<div>
  <p>
    Updated by <%= event.whodunnit || "Unknown" %>
  </p>
  <button class="btn btn-default" type="button" data-toggle="collapse" href="#update_<%= event.id %>_<%= event.hash %>"
    data-target="#update_<%= event.id %>_<%= event.hash %>">
    Details
  </button>
  <div class="collapse" id="update_<%= event.id %>_<%= event.hash %>">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Property</th>
          <th>Old Value</th>
          <th>&nbsp;</th>
          <th>New Value</th>
        </tr>
      </thead>
      <tbody>
        <% event.changeset.each do |change| %>
          <tr>
            <td>
              <%= change.first %>
            </td>
            <td>
              <%= change.last.first %>
            </td>
            <td>
              =&gt;
            </td>
            <td>
              <%= change.last.last %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
