<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th>
          Origin
        </th>
        <td>
          <%= mail.from.name %>
        </td>
      </tr>
      <tr>
        <th>
          Destination
        </th>
        <td>
          <%= mail.to.name %>
        </td>
      </tr>
      <tr>
        <th>
          Weight
        </th>
        <td>
          <%= mail.weight %>
        </td>
      </tr>
      <tr>
        <th>
          Volume
        </th>
        <td>
          <%= mail.volume %>
        </td>
      </tr>
      <tr>
        <th>
          Priority
        </th>
        <td>
          <%= mail.priority %>
        </td>
      </tr>
  </tbody>
</table>
