<p id="notice"><%= notice %></p>
  <div class='jumbotron'>
    <h1>Listing Mail Deliveries</h1>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @mail_deliveries.each do |mail_delivery| %>
          <tr>
            <div class="btn-group-justified">
              <%= link_to 'Show', mail_delivery,:class => "btn btn-primary" %>
              <%= link_to 'Edit', edit_mail_delivery_path(mail_delivery),:class => "btn btn-primary" %>
              <%= link_to 'Destroy', mail_delivery, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-warning" %>
            </div>
          <br>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<br>

<%= link_to 'New Mail delivery', new_mail_delivery_path %>
