<p id="notice"><%= notice %></p>
<h1>Listing Mail Deliveries</h1>

<ul class="list-group">
  <% @mail_deliveries.each do |mail_delivery| %>
    <li class="list-group-item">
      <div class="btn-group">
        <%= link_to 'Show', mail_delivery,:class => "btn btn-primary" %>
        <%= link_to 'Edit', edit_mail_delivery_path(mail_delivery),:class => "btn btn-warning" %>
        <%= link_to 'Destroy', mail_delivery, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Mail delivery', new_mail_delivery_path %>
