<p id="notice"><%= notice %></p>
  <div class='jumbotron'>
    <h1>Cities</h1>
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>
  
        <tbody>
          <% @cities.each do |city| %>
            <tr>
                <div class="btn-group-justified">
                  <%= link_to 'Show', city, :class => "btn btn-primary" %>
                  <%= link_to 'Edit', edit_city_path(city), :class => "btn btn-primary" %>
                  <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
                </div>
              <br>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
<br>

<%= link_to 'New City', new_city_path %>



