
<table class="table">
  <thead>
    <td>From</td>
    <td>To</td>
    <td>Revenue</td>
    <td>Cost</td>
    <td>Profit</td>
  </thead>
  <% @mail.each do |mail| %>
    <tr class="">

      <td><%= mail[:from] %></td>
      <td><%= mail[:to] %></td>
      <td>$<%= mail[:price] %></td>
      <td>$<%= mail[:cost] %></td>
      <td>$<%= mail[:price] - mail[:cost] %></td>
      <td>
        <%= link_to "Show",  mail_delivery_url(mail[:id]) %>
      </td>
    </tr>
  <% end %>
</table>
