
<table class="table">
  <thead>
    <th>From</th>
    <th>To</th>
    <th>Revenue</th>
    <th>Cost</th>
    <th>Profit</th>
    <th>Mail Delivery</th>
  </thead>
  <% @mail.each do |mail| %>
    <tr class="">

      <td><%= mail.from %></td>
      <td><%= mail.to %></td>
      <td>$<%= mail.price %></td>
      <td>$<%= mail.cost %></td>
      <td>$<%= mail.price - mail.cost %></td>
      <td>
        <%= link_to "Show",  mail_delivery_url(mail.id) %>
      </td>
    </tr>
  <% end %>
</table>
