<!DOCTYPE html>
<html>
  <head>
    <title>KPSmart</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="nav navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "KPSmart", root_path, class: "navbar-brand" %>

          </div>

          <div class="collaspe navbar-collapse"  id="navbar-collapsable">
            <ul class="nav navbar-nav">
              <li><%= link_to "Routes", routes_path %></li>
              <li><%= link_to "Mail", mail_deliveries_path %></li>
              <li><%= link_to "Reports", reports_url_path %></li>
              <li><%= link_to "Logs", event_log_path_url %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user.nil? %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% else %>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% end %>
            </ul>
          </div>

        </div>
      </nav>
    </header>

    <main>
    <div class="container-fluid">
      <%= yield %>
    </div>
    </main>

    <footer>
      <div class="container-fluid">
        &copy; 2016 Team Great
      </div>
    </footer>
  </body>
</html>
