<!DOCTYPE html>
<html>


<head>
  <title>KPSmart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <!-- <%= csrf_meta_tags %> -->
</head>
<div class="jumbotron">
<body>

  <div class="navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">KPSmart</a>
      </div>
      <%= link_to "Sign in", new_user_session_path, :class => "btn btn-default navbar-btn"  %>
      <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default navbar-btn" %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-default navbar-btn" %>
        
    </div>
  </div>

  <%= yield %>


</body>


<!-- <body>
    

      <div class="navbar navbar-default">    
        
        <p><%= link_to "Sign in", new_user_session_path %></p>
        <p><%= link_to "Sign up", new_user_registration_path %></p>
        <p><%= link_to "Sign out", destroy_user_session_path, method: :delete%><br></p>
      </div>
    


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body> -->
</html>